.header {
    text-align: center;
    margin-bottom:10px;
}

.header h1 {
    font-size: 20px;
    font-weight:700;
}

.header h3 {
    font-size: 16px;
    font-weight:400;
}

.content{
    margin:10px auto;
    padding:0 2%;
    display:inline-block;
    width:96%;
}
.statistics{
    margin:10px 0;
}
.statistics span{
    font-size:12px;
    color:#666;
    float: right;
    margin:0 10px;
}